{% extends "layout.twig" %}

{% block title %}MUSQUASH Club{% endblock %}

{% block content %}
<h1 class="mt-5" style="color:#f58a4b; text-align:center">{{ montitre }}</h1>
	
<div class="container-fluid text-center mt-5">
	<div>
		<div class="offre_item_container">
			<div class="offre_item">
				<div class="asterisque">*</div>
				<div class="nom">NOS<br> FORMULES</div>
				<div class="type_formulebis"><strong> Formule </strong> Terrain de Squash <strong> 50.00€ </strong></div>
                <div class="separateur"></div>				
				<div class="type_formule"><strong>Formule</strong> Cours particulier de squash <strong>150.00€</strong></div>
				<div class="separateur"></div>
				<div class="type_formule"><strong>Formule</strong> Cours en groupe de squash <strong>110.00€</strong></div>
				<div class="separateur"></div>
				<div class="type_formule"><strong>Formule</strong> Cours de gymnastique <strong>300.00€</strong></div>
                <div class="separateur"></div>
                <div class="type_formule"><strong>Formule</strong> Salle de musculation <strong>400.00€</strong></div>               								
			</div>
		</div>
		<div class="offre_item_container">
			<div class="offre_item">
				<div class="asterisque">*</div>
				<div class="nom">LOCATION<br>Terrain de Squash</div>
				<div class="prix_euro2">40,00€</div>
				<div class="type_offre"><strong>Adhérents</strong></div>
				<div class="separateur2"></div>
				<div class="prix_22">90,00€</div>
				<div class="type_offre"><strong>Non-Adhérents</strong></div>
				<div class="separateur2"></div>
				<div><strong>Type de cours :</strong><br>Particulier ou en groupe<br>de 2 à 6 personnes<br>cours de 2 heures</strong></div>
				<div class="separateur2"></div>
				<div class="engagement">carte<br><strong>10 séances x 1 heure</strong></div>		
			</div>
		</div>		
	</div>
    <div class="mt-5">
    </div>
	<div>
		<div class="offre_item_container">
			<div class="offre_item">
				<div class="asterisque">*</div>
				<div class="nom">LOCATION<br>Terrain de Squash</div>
				<div class="prix_euro">5,00€</div>
				<div class="type_offre"><strong>Adhérents</strong></div>
				<div class="separateur"></div>
				<div class="prix_2">10,00€</div>
				<div class="type_offre"><strong>Non-adhérents</strong></div>
				<div class="separateur"></div>
				<div class="engagement">Sans abonnement<br><strong>La séance</strong></div>				
			</div>
		</div>
		<div class="offre_item_container">
			<div class="offre_item">
				<div class="asterisque">*</div>
				<div class="nom">RESERVATION<br>Casier</div>
				<div class="prix_euro">7,00€ /séance<br></div>
				<div>(5 euros de caution <br> + 2 euro de location)</div>
				<div class="type_offre">prix à l'unité <strong></strong><span>/30 casiers</span></div>
				<div class="separateur"></div>
				<div class="prix_2">70,00€ /ans</div>
				<div class="prix_euro_info">(50 euros de caution <br> + 20 euros de location)</div>
				<div class="type_offre">prix à l'unité <strong></strong><span>/70 casiers</span></div>				
				<div class="separateur"></div>
				<div>La caution est rendue à l’utilisateur dès la restitution des clés.</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
