{% extends "client.twig" %}

{% block title %}MUSQUASH Club{% endblock %}

{% block content %}
<h1 style="text-align:center; color:#f58a4b;">{{ montitre }}</h1>
<div class="container-fluid text-center">
           
    <div class="img-fluid">
        <img src="/photos/coach/coach4.jpg"  alt="coach">
    </div>
                    
    <hr/ style=" margin-top:30px; ">           
</div>
<div class="container col-8" >
    <div class="row no-gutters " style=" margin-top:30px ">
        <div class="col-6 " >            
            <div class="col-12 d-flex justify-content-center ">
            <img src="/photos/coach/coach2.jpg" class="img-thumbnail"  alt="membre du club en plein effort" >
            </div>            
        </div>

        <div class="col-6 border " style="background-color:rgba(050, 050, 050, 0.7);"  >
            <div class="" style="padding:10px">
                <h3 style="text-align: center">
                    <span style="font-size: 25px;color:#f58a4b">COACHS PERSONNELS</span>
                </h3>
            </div>
            <div class="col-12 " >
                <div class="text-center justify-content-end rounded" style="padding:10px">
                    <p style="text-align:justify; color:#f58a4b; font-size:18px">
                    Vous avez un objectif en tête et avez besoin d'aide et de conseils pour l'atteindre?
                    Contactez un(e) coach personnel(le) de votre club.
                    Utilisez la barre de recherche ci-dessus pour découvrir les différents
                    profils et trouver la meilleure adéquation en fonction de vos préférences
                    et de vos objectifs. Ils/elles ont chacun leur spécialité et leur façon de travailler et,
                     surtout, ce sont tous des coachs professionnel(le)s certifié(e)s.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row no-gutters" style="margin-top:20px">
        <div class="col-6 order-2" >            
            <div class="col-12 d-flex justify-content-center ">
            <img  src="/photos/coach/coach3.jpg" class="img-thumbnail"  alt="membre du club en plein effort" >
            </div>            
        </div>

        <div class="col-6  border border-white order-1"  style="background-color:rgba(050, 050, 050, 0.7);" >
            <div class="" style="padding:10px">
               <h3 style="text-align:center; color:#f58a4b">
               <span style="font-size: 25px">ROLE DU COACH</span>
               </h3>
            </div>        
            <div class="col-12 " >
                <div class="text-center justify-content-end" style="padding:10px">
                    <p style="text-align: justify;color:#f58a4b; font-size:18px;">
                    Par définition, le coach sportif est la personne en charge
                    de votre activité physique :
                    il prépare vos séances de sports et vous guide
                    lors de l’exécution des exercices à réaliser.
                    Ces séances sont préparées en fonction de vos objectifs et de votre profil,
                    dans le but d’améliorer vos capacités physiques ou votre santé
                    (souplesse, renforcement musculaire, VMA, perte de poids…).<br/>
                    De plus son rôle est également de vous assurer un soutien psychologique et d’être une
                    source supplémentaire de motivation
                    car des hauts et des bas interviennent nécessairement dans votre pratique sportive.<br/>
                    Toute personne a besoin d’être guidé
                    pour pouvoir atteindre ses objectifs ou retrouver les voies du bien-être,
                    et c’est à ce stade que le coach sportif prend tout son intérêt.</p>
		        </div>
                </div>
            </div> 
        </div>
        <div class="row no-gutters " style=" margin-top:30px ">
        <div class="col-6 " >            
            <div class="col-12 d-flex justify-content-center " >
            <img src="/photos/coach/coach4.jpg" class="img-thumbnail"  alt="membre du club en plein effort" >
            </div>            
        </div>

        <div class="col-6 border " style="background-color:rgba(050, 050, 050, 0.7);"  >
            <div class="" style="padding:10px">
                <h3 style="text-align: center">
                    <span style="font-size: 25px;color:#f58a4b">ET LES RESULTATS ?</span>
                </h3>
            </div>
            <div class="col-12 " >
                <div class="text-center justify-content-end rounded" style="padding:10px">
                    <p style="text-align:justify; color:#f58a4b; font-size:18px">
                    Depuis combien de temps fréquentez-vous ces clubs ?<br/>
                    Quels ont été les améliorations sur votre qualité de vie ?<br/>
                    Avez-vous atteint vos objectifs ?<br/>
                    Ce sont les questions à vous poser si vous souhaitez vous remettre en forme.
                    Car avec un coach sportif, les résultats sont garantis
                    grâce à son professionnalisme, son écoute et son adaptation à votre profil.
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
        
</div>
{% endblock %}
