{% extends "client.twig" %}

{% block title %}MUSQUASH Club{% endblock %}

{% block content %}
<div class="d-flex flex-row  justify-content-between align-items-center p-3">
    <div class="p-1" style="width:200px"></div>
    <div class="p-1"> <h1 class="text-center" style="text-align:center; color:#f58a4b;" >{{ montitre}} </h1></div>
    <div class="p-1"><a class="btn btn-outline-light" href="{{ url_for('showplanninggym') }}" style="font-size:15px; color:#f58a4b" > Réservation cours Gym</a></div>
</div> 
<div class="container-fluid text-center">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active img-fluid">
                        <img src="/photos/gymnastique/img-1.jpg" class="w-60" alt="First slide" style="height:360px">
                    </div>
                    <div class="carousel-item ">
                        <img src="/photos/gymnastique/img-2.jpg" class="w-60" alt="Second slide" style="height:360px">
                    </div>
                    <div class="carousel-item ">
                        <img src="/photos/gymnastique/img-3.jpg" class="w-60" alt="Third slide" style="height:360px">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span><i class="fa fa-chevron-left fa-3x" aria-hidden="true" style="color:#f58a4b; margin-left:300px"></i></span>
                    <span class="sr-only">Précédente</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span><i class="fa fa-chevron-right fa-3x" aria-hidden="true" style="color:#f58a4b; margin-right:300px"></i></span>
                    <span class="sr-only">Suivante</span>
                </a>
            </div>
            <hr/ style=" margin-top:30px; ">           
</div>
<div class="container col-8 " >
    <div class="row no-gutters " style=" margin-top:30px ">
        <div class="col-6 " >            
            <div class="col-12 d-flex justify-content-center ">
            <img src="/photos/gymnastique/fitness.jpg" class="img-thumbnail"  alt="membre du club en plein effort" >
            </div>            
        </div>

        <div class="col-6 border " style="background-color:rgba(050, 050, 050, 0.7);"  >
            <div class="" style="padding:10px">
                <h3 style="text-align: center">
                    <span style="font-size: 25px;color:#f58a4b">RENFORCEZ-VOUS</span>
                </h3>
            </div>
            <div class="col-12 " >
                <div class="text-center justify-content-end rounded" style="padding:10px">
                    <p style="text-align:justify; color:#f58a4b; font-size:18px">
                    <strong>HIIT</strong> est une abrévation de High Intensity Interval Trainning.
                    Si pour vous sport doit rimer avec rapidité, alors la pratique du HIIT va pleinement vous satisfaire.
                    D’une manière générale, et bien qu’il existe plusieurs nuances,
                    l’idée est de travailler de façon très courte, mais en prenant également des temps de repos court.
                    Par exemple, si la durée de mon exercice est de 20 secondes, je prends seulement 10 secondes de repos
                    avant d’enchaîner sur une nouvelle série.
                    En travaillant de la sorte, vous allez demander à votre corps de venir rapidement
                    puiser dans ses réserves, et ce en un minimum de temps. Ainsi, 30 minutes à raison de 3 fois par semaine
                    pendant 6 semaines suffiront à se bâtir un physique tout à fait respectable.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row no-gutters" style="margin-top:20px">
        <div class="col-6 order-2" >            
            <div class="col-12 d-flex justify-content-center ">
            <img  src="/photos/gymnastique/fitness4.jpg" class="img-thumbnail"  alt="membre du club en plein effort" >
            </div>            
        </div>

        <div class="col-6  border border-white order-1"  style="background-color:rgba(050, 050, 050, 0.7);" >
            <div class="" style="padding:10px">
               <h3 style="text-align:center; color:#f58a4b">
               <span style="font-size: 25px">STRETCHING</span>
               </h3>
            </div>        
            <div class="col-12 " >
                <div class="text-center justify-content-end" style="padding:10px">
                    <p style="text-align: justify;color:#f58a4b; font-size:18px;">
                     L’étirement et l’amélioration de la souplesse permettent une meilleure mobilité
                    du corps et procure une sensation de légèreté. La pratique du stretching requiert 
                    le calme, la lenteur d’exécution des mouvements est de rigueur et la maîtrise de
                    la respiration est primordiale pour une séance réussie. De ce fait, c’est un remède
                    incomparable face au stress et à la fatigue puisque ces trois éléments réunis permettent
                    au pratiquant de s’éloigner de ce qui le tourmente et d’accéder à un univers de sérénité.                   
                    Pour les sportifs, la pratique du stretching permet d’éviter la monotonie au cours de l’entraînement et d’être "éveillés"
                    lorsqu’ils se sentent un peu "fainéants".</p>
		        </div>
                </div>
            </div> 
        </div>
    </div>    
</div>
    <div class="text-center mt-5" >
    <a class="btn btn-outline-light" href="{{ url_for('pagecourscollectif2') }}" style="font-size:25px; color:#f58a4b" > Cours Collectifs</a>&nbsp;&nbsp;&nbsp;
    <a class="btn btn-outline-light" href="{{ url_for('showplanninggym') }}" style="font-size:25px; color:#f58a4b" > Réservation</a>
    </div>
{% endblock %}
