{% extends "client.twig" %}

{% block title %}MUSQUASH Club{% endblock %}

{% block content %}
<h1 style="text-align:center; color:#f58a4b;">{{ montitre }}</h1>
<div class="container-fluid text-center">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
                <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                   <div class="carousel-item ">
                        <img src="/photos/musculation/fit.jpg" class="w-60" alt="Second slide" style="height:360px">
                    </div>
                    <div class="carousel-item ">
                        <img src="/photos/musculation/bg.jpg" class="w-60" alt="Third slide" style="height:360px">
                    </div>
                    <div class="carousel-item ">
                        <img src="/photos/musculation/fitness.jpg" class="w-60" alt="Third slide" style="height:360px">
                    </div>
                    <div class="carousel-item ">
                        <img src="/photos/musculation/fitness2.jpg" class="w-60" alt="Third slide" style="height:360px">
                    </div>
                    <div class="carousel-item ">
                        <img src="/photos/musculation/muscu1.jpg" class="w-60" alt="Third slide" style="height:360px">
                    </div>
                    <div class="carousel-item ">
                        <img src="/photos/musculation/muscu2.jpg" class="w-60" alt="Third slide" style="height:360px">
                    </div>
                    <div class="carousel-item ">
                        <img src="/photos/musculation/muscu3.jpg" class="w-60" alt="Third slide" style="height:360px">
                    </div>
                    <div class="carousel-item ">
                        <img src="/photos/musculation/muscu4.jpg" class="w-60" alt="Third slide" style="height:360px">
                    </div>
                    <div class="carousel-item ">
                        <img src="/photos/musculation/muscu5.jpg" class="w-60" alt="Third slide" style="height:360px">
                    </div>
                    <div class="carousel-item ">
                        <img src="/photos/musculation/musculation1.jpg" class="w-60" alt="Third slide" style="height:360px">
                    </div>
                    <div class="carousel-item ">
                        <img src="/photos/musculation/musculation2.jpg" class="w-60" alt="Third slide" style="height:360px">
                    </div>
                    <div class="carousel-item ">
                        <img src="/photos/musculation/musculation3.jpg" class="w-60" alt="Third slide" style="height:360px">
                    </div>
                    <div class="carousel-item active img-fluid">
                        <img src="/photos/musculation/musculation4.jpg" class="w-60" alt="First slide" style="height:360px">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span><i class="fa fa-chevron-left fa-3x" aria-hidden="true" style="color:#f58a4b; margin-left:300px"></i></span>
                    <span class="sr-only">Précédente</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span><i class="fa fa-chevron-right fa-3x" aria-hidden="true" style="color:#f58a4b; margin-right:300px"></i></span>
                    <span class="sr-only">Suivante</span>
                </a>
            </div>
            <hr/ style=" margin-top:30px ">           
</div>
<div class="container col-8 " >
    <div class="row no-gutters " style=" margin-top:30px ">
        <div class="col-6 " >            
            <div class="col-12 d-flex justify-content-center " >
            <img src="/photos/musculation/muscu1.jpg" class="img-thumbnail"  alt="membre du club en plein effort" >
            </div>            
        </div>

        <div class="col-6 border " style="background-color:rgba(050, 050, 050, 0.7);"  >
            <div class="" style="padding:10px">
                <h3 style="text-align: center">
                    <span style="font-size:25px; color:#f58a4b">RENFORCEZ-VOUS</span>
                </h3>
            </div>
            <div class="col-12 " >
                <div class="text-center justify-content-end rounded" style="padding:10px">
                    <p style="text-align:justify; color:#f58a4b; font-size:18px">
                    La musculation est une discipline qui vise à développer
                    et à entretenir la masse musculaire des pratiquants par
                    le biais d’exercices physiques. Elle permet d’accroitre 
                    le volume musculaire, la force, l’endurance, la puissance,
                    l’explosivité et la résistance du corps.                    
                    Elle constitue également une part de la préparation physique
                    pour les athlètes, notamment de haut niveau, qui ont besoin
                    d’une solide condition physique pour maximiser leurs performances.
                    La musculation peut être également utilisée par des méthodes plus douces
                    comme le fitness, le stretching ou dans le cas de soins médicaux comme
                    la kinésithérapie ou la rééducation.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row no-gutters" style="margin-top:20px">
        <div class="col-6 order-2" >            
            <div class="col-12 d-flex justify-content-center ">
            <img src="/photos/musculation/muscu2.jpg" class="img-thumbnail"  alt="membre du club en plein effort" >
            </div>            
        </div>

        <div class="col-6  border border-white order-1"  style="background-color:rgba(050, 050, 050, 0.7);" >
            <div class=""style="padding:10px">
               <h3 style="text-align:center; color:#f58a4b">
               <span style="font-size: 25px">POUR QUOI ?</span>
               </h3>
            </div>        
            <div class="col-12 " >
                <div class="text-center justify-content-end" style="padding:10px">
                    <p style="text-align: justify;color:#f58a4b; font-size:18px;">
                    -&nbsp;<strong>Développer</strong>
                    ta croissance musculaire et ta force physique.<br/>
                    -&nbsp;<strong>Obtenir</strong> une plus grande résistance et des muscles plus toniques, plus saillants.<br/>                   
                    -&nbsp;<strong>Augmenter</strong>
                    ta prise de masse musculaire en diminuant ta masse grasse.<br/>                     
                    -&nbsp;<strong>Renforcer</strong>
                    ta résistance osseuse en luttant contre la perte de densité 
                    osseuse (ostéoporose) à l’aide des charges progressives .<br/>
                    -&nbsp;<strong>Renforcer</strong>
                    ta confiance personnelle en vous aider à obtenir
                     un corps dans lequel vous vous sentirez bien.</p>
		        </div>
                </div>
            </div> 
        </div>
    </div>    
</div>
{% endblock %}
